* text=auto

*.blade.php diff=html
*.css diff=css
*.js diff=js
*.json diff=json
*.json diff=json
*.yml diff=yml
*.xml diff=xml
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
